name: kicad nightly base
on:
  workflow_dispatch:
  push:
    paths:
    - Dockerfile.kicad-nightly
    - .github/workflows/kicad-nightly.yaml
jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read
    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Get current date
      id: date
      run:  echo "date=$(date +'%Y-%m-%d-%H-%M')" >> $GITHUB_OUTPUT

    - name: Build and push Docker image dev
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile.kicad-nightly
        push: true
        build-args: |
            "VERSION=${{ github.sha }}-dev"
        tags: "ghcr.io/linalinn/kicad:nightly,ghcr.io/linalinn/kicad:nightly-${{ steps.date.outputs.date }}"
